{% extends 'base.html' %}

{% block content %}
<!-- Content Row -->
<div class="row">
    <div class="col-xl-12 mb-4">
        <button class="btn btn-primary float-right" data-toggle="modal" data-target="#categoryModal">
            New Category
        </button>
    </div>
    <div class="col-xl-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    {{ title }}
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th width="200">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>
                                <button class="btn btn-sm btn-warning update-category"
                                        data-id="{{ item._id }}"
                                        data-name="{{ item.name }}">
                                    Update
                                </button>
                                <button class="btn btn-sm btn-danger ml-2 delete-category" data-id="{{ item._id }}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New Category Modal-->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('new_category') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" name="name" placeholder="Enter Category Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Category Modal-->
<div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Category</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="updateCategoryForm" method="POST" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="category_name" name="name" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Category Modal-->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Category</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="deleteCategoryForm" method="POST" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="modal-body">
                    Do you want delete this category?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
      $('#dataTable').DataTable({
          responsive: true,
          lengthMenu: [25, 50, 100, 200],
          pageLength: 50,
          paging: true,
          searching: true,
          ordering: true,
          autoWidth: false,
      });
    });

    $(".update-category").click(function () {
        var form = $("#updateCategoryForm")
        var _id = $(this).attr('data-id')
        var name = $(this).attr('data-name')

        form.attr('action', "/categories/edit/" + _id)
        $('#category_name').val(name)

        $("#updateCategoryModal").modal('show');
    })

    $(".delete-category").click(function () {
        var form = $("#deleteCategoryForm")
        var _id = $(this).attr('data-id')

        form.attr('action', "/categories/delete/" + _id)

        $("#deleteCategoryModal").modal('show');
    })
</script>
{% endblock %}